<div class="right">
  <div class="top">
    <button id="menu-btn">
      <span class="material-symbols-sharp">
        menu
      </span>
    </button>

    <div class="theme-toggler">
      <span class="material-symbols-sharp active">
        light_mode
      </span>
      <span class="material-symbols-sharp">
        dark_mode
      </span>
    </div>

    <div class="profile">
      <div class="info">
        <img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="20px" height="auto">
        <p><b>Tutor</b></p>

      </div>



    </div>
  </div>
</div>


<app-inside></app-inside>