<div class="inside-component">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/cataratasDelNiagara.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cataratas del Niágara</h5>
      <p class="card-text">Ubicadas en la frontera de Nueva York y Ontario (Canadá), estas cataratas son un conjunto
        masivo de tres cascadas. Con
        un salto de 64 metros de altura este lugar recibe a 30 millones de turistas anualmente, convirtiéndose en el
        destino
        turístico más visitado de todo el mundo.
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/LaGranPirámidedeGiza.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">La Gran Pirámide de Giza</h5>
      <p class="card-text">En medio del desierto se alzaron hace más de 4.500 años las pirámides egipcias de Keops,
        Kefrén
        y Micerinos. La primera
        de ellas, conocida también como la pirámide de Giza, es la única de las siete maravillas del mundo antiguo que
        sigue en
        pie y recibe al año 14.7 millones de visitantes.
      </p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/LaGranMurallaChina.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">La Gran Muralla China</h5>
      <p class="card-text">10 millones de turistas cada año recibe este impresionante monumento que se extiende a lo
        largo de más de 21.000
        kilómetros. Fue constuida para proteger la frontera norte del Imperio chino durante las sucesivas dinastías
        imperiales
        de los ataques de los nómadas xiongnu de Mongolia y Manchuria.
      </p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/TorreEiffel.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Torre Eiffel</h5>
      <p class="card-text">Esta estructura de hierro construida por el ingeniero francés Alexandre Gustave Eiffel es
        visitada anualmente por siete
        millones de visitantes, cifra similar a la de la Ópera de Sidney, siendo uno de los lugares turísticos más
        visitados de
        todo el continente europeo.
      </p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/ColiseodeRoma.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coliseo de Roma</h5>
      <p class="card-text">Es una de las siete maravillas del mundo moderno y uno de los enclaves históricos que mejor
        han permitido conocer el
        pasado de Europa. Atrae a unos 5 millones de personas al año
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/MachuPicchu.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Machu Picchu</h5>
      <p class="card-text">Los países latinoamericanos ganan cada vez más interés entre los turistas y Machu Picchu es
        uno de los iconos más
        reconocibles del continente. El excesivo número de visitantes de estas ruinas al año (1 millón) ha llevado a
        limitar los
        accesos diarios de visita.
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/Stonehenge.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Stonehenge</h5>
      <p class="card-text">Este conjunto histórico de piedra data de 2000 a 3000 a. C. y es uno de los lugares
        turísticos más visitados del Reino
        Unido. Está reconocido como monumento Patrimonio de la Humanidad por la UNESCO desde 1982 y recibe 1,3 millones
        de
        turistas al año.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/CristoRedentor.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cristo Redentor</h5>
      <p class="card-text">Esta estatua es visitada por 1.8 millones de visitantes por año, y en las fiestas religiosas
        puede recibir hasta 14.000
        personas en un solo día.
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/EstatuadelaLibertad.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Estatua de la Libertad</h5>
      <p class="card-text">También recibe 4,5 millones de turistas. Este emblema del país fue un regalo del Gobierno de
        Francia a Estados Unidos en
        1886.
      </p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="../../assets/entregableUno/AcrópolisdeAtenas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Acrópolis de Atenas</h5>
      <p class="card-text">A pesar de que está en continua restauración, unos 4.5 millones de personas visitan este
        edificio construido en la
        Antigua Grecia anualmente. En el 2018 se esperaba alcanzar récord de asistentes, aunque los datos todavía no se
        conocen.
      </p>
    </div>
  </div>
</div>