<aside class="aside">
  <div class="top">
    <!-- <div class="logo">
          <img src="assets/logo.png" alt="logo">
          <h2>EGA <span class="danger">TOR</span></h2>
        </div> -->
    <div class="close" id="close-btn">
      <span class="material-symbols-sharp">
        close
      </span>
    </div>
  </div>

  <div class="sidebar">
    <a href="#" class="sidebar__button active">
      <span class="material-symbols-sharp">
        dashboard
      </span>
      <h3>Dashboard</h3>
    </a>
    <a href="#" class="sidebar__button ">
      <span class="material-symbols-sharp">
        collections_bookmark
      </span>
      <h3>Page 1</h3>

    </a>
    <a href="#" class="sidebar__button">
      <span class="material-symbols-sharp">
        dynamic_feed
      </span>
      <h3>Page 2</h3>
    </a>
    <a href="#" class="sidebar__button">
      <span class="material-symbols-sharp">
        web_asset
      </span>
      <h3>Page 3</h3>
    </a>
    <a href="#" class="sidebar__button">
      <span class="material-symbols-sharp">
        wysiwyg
      </span>
      <h3>Page 4</h3>
    </a>

  </div>
</aside>